<div class="nav">
	<div class="w">
		<div class="logo">
			<img class="logo-img" src="../../image/logo.png" alt="" />
			<div class="logo-content">
				<p class="logo-name">云性能评测平台</p>
				<span class="logo-info hui">cloud Performance Benchmark Platform</span>
			</div>
			<div class="user-info">
				<span class="user not-login">
					<span class="link js-login">登录</span>
					<span class="link js-register">注册</span>
				</span>
				<span class="user login">
					<span class="link-text">
						欢迎，
					<span class="username"></span>
				</span>
				<span class="link js-logout">退出</span>
				</span>
			</div>
		</div>
	</div>
</div>